@import "variables"

.controls
  padding: $rel_m
  position: fixed
  background: #fff
  width: 100%
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2)

.formatting-toolbar
  width: 8.5in
  margin: .5rem auto
  .btn:disabled
    cursor: not-allowed
    opacity: .5

.persistence-toolbar
  width: 8.5in
  margin: .5rem auto
  display: flex
  justify-content: space-between
  .btn:disabled
    cursor: not-allowed
    background: #ccc
    border-color: #ccc
    color: white
    opacity: .5
    pointer-events: none