@import "variables"

.controls
  padding: $rel_m
  position: fixed
  background: #fff
  width: 100%
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, .2)

.formatting-toolbar
  &:after
    content: ""
    clear: both
    display: block

.file-toolbar
  padding: $rel_m
  .btn-group
    display: inline-block
    text-align: center