@import "variables"

.status-indicators
  position: absolute
  right: 1rem
  
.status-indicator
  width: 1.5rem
  height: 1.5rem
  display: inline-block
  border-radius: .25rem
  color: white
  background: $success_color
  margin-right: .5rem
  &.dirty
    background: $warn_color
