// typography
$base_font_size: 16px
$sans: "Gotham HTF", "Avenir Next", Helvetica, sans-serif
$serif: "FreightSerif Pro", Georgia, serif

// colors
$text_color: #333
$primary_color: #2980b9
$secondary_color: #34495e
$success_color: #27ae60
$warn_color: #f39c12
$error_color: #c0392b

// spacing
$abs_xl: 2rem
$abs_l: 1.5rem
$abs_m: 1rem
$abs_s: .5rem
$abs_xs: .25rem

$rel_xl: 2em
$rel_l: 1.5em
$rel_m: 1em
$rel_s: .5em
$rel_xs: .25em