<!DOCTYPE html>
<html>
<head>
    <title>Jot</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../bower_components/fontawesome/css/font-awesome.css">
    <link rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="../css/main.css">

    <script src="../bower_components/jquery/jquery.js"></script>
    <script src="../bower_components/showdown/src/showdown.js"></script>
    <script src="../bower_components/to-markdown/src/to-markdown.js"></script>
    <script src="../js/vendor/scribe-browserify.js"></script>    
    <script src="../bower_components/mousetrap/mousetrap.js"></script>

</head>
<body>

  <!--
  <div class="about" id="about">
    <h1>Jot</h1>
    <p><em>Git-powered cross-platform word processor.</em></p>
  </div>
  -->
  <div class="app" id="app">
    <div class="controls" id="controls">
      <div class="persistence-toolbar">

        <span title="File Status" id="localIndicator" class="status-indicator">
          <i class="fa fa-save"></i>
        </span>
        <span title="Local Status" id="gitIndicator" class="status-indicator">
          <i class="octicon octicon-git-commit"></i>
        </span>
        <span title="Remote Status" id="remoteIndicator" class="status-indicator">
          <i class="octicon octicon-repo-push"></i>
        </span>

        <button class="btn" id="openButton">Open</button>
        <button class="btn" id="saveButton">Save</button>
        <button class="btn" id="closeButton">Close</button>

        <label class="checkable">
          <input type="checkbox" id="commitOnSave">
          <span class="indicator"></span>
          Commit on Save
        </label>

        <label class="checkable">
          <input type="checkbox" id="pushOnSave">
          <span class="indicator"></span>
          Push on Save
        </label>

        <button class="btn" id="commitButton">Commit</button>
        <button class="btn" id="pushButton">Push</button>

        <input id="openFile" type="file" style="display:none" accept="text/*/">
        <input id="saveFile" type="file" style="display:none" accept="text/*/" nwsaveas>

      </div> <!-- /.persistence-controls -->

      <div class="formatting-toolbar" id="editor-toolbar">
        <div class="btn-group btn-group-xl">

          <button class="btn btn-command" data-command-name="h1">
            H1
          </button>

          <button class="btn btn-command" data-command-name="h2">
            H2
          </button>

          <button class="btn btn-command" data-command-name="bold">
            <i class="fa fa-bold"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="italic">
            <i class="fa fa-italic"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="underline">
            <i class="fa fa-underline"></i>
          </button>
        
          <button class="btn btn-command" data-command-name="createLink">
            <i class="fa fa-link"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="insertUnorderedList">
            <i class="fa fa-list"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="insertOrderedList">
            <i class="fa fa-list-ol"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="indent">
            <i class="fa fa-indent"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="outdent">
            <i class="fa fa-outdent"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="undo">
            <i class="fa fa-undo"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="redo">
            <i class="fa fa-repeat"></i>
          </button>

          <button class="btn btn-command" data-command-name="superscript">
            <i class="fa fa-superscript"></i>
          </button>
          
          <button class="btn btn-command" data-command-name="subscript">
            <i class="fa fa-subscript"></i>
          </button>
        </div>
      </div>

    </div> <!-- /.controls -->

    <div class="doc" id="doc">
      <div class="backdrop">
        <div class="editor-wrapper" id="editor-wrapper">
          <div id="editor" class="editor" contenteditable="true"></div>
        </div>
      </div>
    </div>

  </div> <!-- /.app -->

  <script>
    var editorEl = document.getElementById( "editor" );
    var toolbarEl = document.getElementById( "editor-toolbar" );
    var editor = window.editor = new Scribe( editorEl );
    editor.use( Scribe.plugins.toolbar( toolbarEl ) );


    $( document ).ready( function() {

      $( "#doc" )
      .css( "font-family", "'FreightSerif Pro', 'Minion', 'Mercury', 'Georgia', serif")
      .on( "click", function() {
        $( "#editor" ).focus();
      });

    });

  </script>
  
  <script src="../js/scribe-init.js"></script>
  <script src="../js/init.js"></script>
</body>
</html>